@model PruebaCorner.Models.TareasXTipoProyectoModels

<br /><br />
<div class="container">
    <div class="form-group">
        @if(ViewBag.listaTipoProyectos != null)
        {
            @Html.DropDownListFor(Model=>Model.id_tipoProyecto, ViewBag.listaTipoProyectos as SelectList,"--Seleccione Tipo de Proyecto",new { @class = "form-control" })
        }
    </div>
    <div class="form-group">

            @*@Html.DropDownListFor(Model => Model.id_tipoProyecto, ViewBag.listaTipoProyectos as SelectList, "--Seleccione Tipo de Proyecto", new { @class = "form-control" })*@
    </div>
</div>

